torch==1.12.1
torch-tb-profiler==0.3.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
sklearn==0.0
scikit-image==0.15.0
scikit-learn==1.0.2
scipy==1.8.0
tqdm==4.63.0
numpy==1.22.2
mujoco-py==2.1.2.14
matplotlib==3.5.1
gpytorch==1.9.0
protobuf==3.19.4
stable_baselines3==1.4.1a1
POT==0.9.0
Cython==0.29.28
setuptools==58.0.4